
.gris-fondo {
  background-color: rgb(22, 22, 22);
}

.titulo-posts {
  font-size: 50px;
  font-family: Arial;
}

.subtitulo-posts {
  font-size: 30px;
  font-family: Arial;
}

.custom-modal {
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  min-height: 100vh;
}

.custom-modal2 {
  background-color: rgb(22, 22, 22);
  color: rgb(108, 238, 255);
  
}

.custom-modal3 {
  background-color: rgb(22, 22, 22);
  
}